$primary-clr: #394951;
$secondary-clr: #a0a89f;
$theam-clr: #ff8673;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 800
);
$grid-area: (
  "1": fi,
  "2": se,
  "3": th,
  "4": fr,
  "5": fv,
  "6": sx,
  "7": sn,
  "8": ei
);
