.gallary {
  @extend %center;
  background: #394951;
  &__title {
    text-align: center;
    margin-bottom: 10px;
    @include common-font-style($theam-clr, 25px, bold);
  }
  &__box {
    width: 90px;
    height: 90px;
    margin: 5px;
  }
  &__content {
    @for $i from 1 through 8 {
      :nth-child(#{$i}) {
        background: url("../images/section-2-thumbnails/feet#{$i}.jpg")
          no-repeat;
        background-size: cover;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 4px #ffffff;
      }
    }

    @include flexStyle(row, center, center, wrap);
  }
}

@include media-md {
  .gallary {
    @include center-media();
    background: #394951;
    @include flexStyle(column, center, center, nowrap);
    &__box {
      width: 120px;
      height: 120px;
      margin: 5px;
    }
  }
}

// media-query start

@include media-lg {
  .gallary {
    @include center-media;
    background: #394951;
    height: 650px;

    &__title {
      text-align: center;
      margin-bottom: 10px;
      @include common-font-style($theam-clr, 36px, bold);
    }

    &__content {
      @for $i from 1 through 8 {
        :nth-child(#{$i}) {
          background-position: center center;
        }
      }
      display: grid;
      grid-template-columns: repeat(6, minmax(150px, 1fr));
      grid-template-rows: repeat(2, minmax(150px, 1fr));
      :nth-child(7) {
        grid-column: 3 / span 1;
      }
      grid-gap: 5px;
    }
    &__box {
      width: 100%;
      height: 100%;
    }
  }
}
